// Colours
$yellow: #F2BE22;
$gold: #735A10;
$red: #8C0303;
$darkRed: #400101;
$grey: #0D0D0D;

// Fonts
$font-header: 'Alfa Slab One', cursive;
$font-subheader: 'Rock Salt', cursive;

// Mixins
@mixin on($displayType) {
  $breakpoint: 0;

  @if ($displayType == tablet) {
    $breakpoint: 48em;
  } @else if ($displayType == desktop) {
    $breakpoint: 62em;
  } @else if ($displayType == largeDesktop) {
    $breakpoint: 75em;
  }

  @media (min-width: $breakpoint) {
    @content;
  }
}

// Base styles
body {
  background-color: $grey;
  color: #ccc;
}

h1 {
  color: $yellow;

  font-family: $font-header;
  text-transform: uppercase;
}

blockquote {
  border: none;
  padding: 0;
}

[class^='col-'] {
  margin-bottom: 1em;
}

// Site styles
.section {
  height: 100vh;
  overflow: hidden;
}

.hero {
  background-color: $red;
  background-image: url('tarantino.png');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: right top;

  .container {
    padding-top: 5em;
    height: 100vh;

    @include on(tablet) {
      padding-top: 10em;
    }
  }

  &__header {
    font-size: 3em;
    text-align: center;
    text-shadow: 4px 5px 0px $darkRed, 10px 11px 0px $grey;

    @include on(tablet) {
      font-size: 5em;
    }

    @include on(desktop) {
      font-size: 8em;
    }
  }

  &__quote {
    font-family: $font-subheader;
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;

    transform: rotate(-4deg);
  }
}
