// Colours
$yellow: #F2BE22;
$gold: #735A10;
$red: #8C0303;
$darkRed: #400101;
$grey: #0D0D0D;

// Fonts
$font-header: 'Alfa Slab One', cursive;
$font-subheader: 'Rock Salt', cursive;

// Mixins
@mixin on($displayType) {
  $breakpoint: 0;

  @if ($displayType == tablet) {
    $breakpoint: 48em;
  } @else if ($displayType == desktop) {
    $breakpoint: 62em;
  } @else if ($displayType == largeDesktop) {
    $breakpoint: 75em;
  }

  @media (min-width: $breakpoint) {
    @content;
  }
}

// Base styles
body {
  background-color: $grey;
  color: #ccc;
}

h1 {
  color: $yellow;

  font-family: $font-header;
  text-transform: uppercase;
  letter-spacing: .05em;
}

blockquote {
  border: none;
  padding: 0;
}

svg {
  width: 100%;

  background-color: lighten($grey, 10%);

  @include on(tablet) {
    height: 60vh;
  }
}

[class^='col-'] {
  margin-bottom: 2em;
}

// Site styles
.section {

  @include on(tablet){
    height: 100vh;
  }
}

.dead-centered {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    flex: 1;
  }
}

.btn {
  margin-top: .75em;

  background-color: $yellow;
  color: $grey;

  font-weight: bold;

  &--center {
    display: block;
    width: 15em;
    margin: auto;
  }
}

.graphHeader {
  fill: $yellow;
  font-family: $font-header;
  font-size: 2em;
}

.header-right {
  text-align: right;
}

.hero {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $red;
    background-image: url('tarantino2.png');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 75% bottom;

  }

  .container {
    height: 100vh;
  }

  &__header {
    font-size: 3em;
    text-align: center;
    text-shadow: 4px 5px 0px $red, 10px 11px 0px $grey;

    @include on(tablet) {
      font-size: 5em;
    }

    @include on(desktop) {
      font-size: 8em;
    }
  }

  &__quote {
    font-family: $font-subheader;
    font-size: 2.5em;
    line-height: 1.2;
    text-align: center;
  }
}

.deaths {
  // background-color: $gold;

}

.swearing {
  background-color: $darkRed;
}